.routerLink {
  text-decoration: none;
}

.list-container {
  background: #FFFFFF;
  width: 340px;
  height: 657px;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 28px 21px 0px 28px;
}

.date-header {
  color: #868E96;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  &__first {
    color: #3B82F6;
  }
}

.event-name {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.event-description {
  margin-bottom: 5px;
  cursor: pointer;
  padding: 4px;
}
.event-description:hover {
  background: rgba(59, 130, 246, .1);
  border-radius: 8px 2px 2px 8px;
  color: black;
}

.v-application .rounded-circle {
  font-size: 5px;
  vertical-align: middle;
}

#list-container::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff;
}

#list-container::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #8E9FAD;
}

#list-container::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}
