.list-container {
  background: #FFFFFF;
  width: 340px;
  height: 657px;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 28px 21px 0px 28px;
}

.date-header {
  color: #868E96;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.event-name {
  color: #BDBDBD;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.event-description {
  margin-bottom: 5px;
  cursor: pointer;
  padding: 4px;
}
.event-description:hover {
  background: rgba(59, 130, 246, .1);
  border-radius: 8px 2px 2px 8px;
  color: black;
}

.active {
  background: rgba(59, 130, 246, .1);
  border-right: 3px solid blue;
}

#list-container::-webkit-scrollbar {
  width: 10px;
  background-color: #f9f9fd;
}

#list-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #18aaaa;
}

#list-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f9f9fd;
}
