.description-container {
  background: #FFFFFF;
  width: 700px;
  height: 657px;
  border-radius: 8px;
  padding: 20px 25px;
}

.participant-container {
  border-top: 1px solid #ECF0F2;
  border-bottom: 1px solid #ECF0F2;
  font-weight: 500;
}
